GitPython
networkx
tqdm
networkx
matplotlib
loguru
SQLAlchemy
psycopg2-binary==2.9.10
environs
lief
requests
ollama
anthropic
agno
yfinance
lancedb
tantivy
openai
sqlalchemy
pylance
ddgs
pgvector
duckduckgo-search
conan
schedule
binaryai